
.dropdown-cont {
  position: relative;
  height: 32px;
}
.dropdown-box {
  font-size: 13px;
  color: #666;
  text-align: left;
  border: 1px solid #A9A9A9;
  border-radius: 2px;
  line-height: 30px;
  padding: 0px 6px 0px 6px;
  cursor: pointer;
}
.down-arrow {
  width: 12px;
  height: 15px;
  background-size: 12px;
  position: absolute;
  right: 6px;
  top: 9px;
}
.dropdown-window {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 42px;
  height: 122px;
  border: 1px solid #A9A9A9;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: .55s;
  -webkit-transition-property: height;
  background-color: #FFF;
  z-index: 1;
  text-align: left;
}
.dropdown-window ul {
  margin: 0px 8px;
  overflow-y: auto;
}
.dropdown-visible {
  height: 122px;
}
.dropdown-hidden {
  height: 0px;
  visibility: hidden;
}
.dropdown-row {
  font-size: 13px;
  color: #666;
  text-align: left;
  cursor: pointer;
  line-height: 40px;
  border-bottom: 1px solid #A9A9A9;
  list-style: none;
}
.dropdown-row:last-child {
  border-bottom: 0px;
}
/* CSS Triangles */
.upward-triangle,
.tooltip-tail-back,
.tooltip-tail-front {
  border-top: solid 10px transparent;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
  content: " ";
  height: 0;
  position: absolute;
  width: 0;
  left: 47%;
}
.tooltip-tail-back {
  border-bottom: solid 10px #A9A9A9;
  top: -20px;
}
.tooltip-tail-front {
  border-bottom: solid 10px #FFFFFF;
  top: -18px;
}
